@if(Request.IsAuthenticated) {
    <li>@Html.ActionLink("Welcome", "Profile", "Account")</li>
    <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
    <li>@Html.ActionLink("Profile", "Profile", "Account")</li>
}
else
{
    @:@Html.ActionLink("Log On", "LogOn", "Account")
}
