@model int

@{
    ViewBag.Title = "Checkout Complete";
}
<div class ="hero-unit">
<h2>Checkout Complete</h2>

<p>Thanks for your order! Your order number is: @Model</p>
<h1>@ViewBag.code</h1>
<p>This is when we would send a notification to the recipient of the drink, letting them know that they have a functioning drink code to show to a bar tender.</p>

<p>How about shopping for some more drinks in our 
    @Html.ActionLink("store", "Index", "Home")
</p>
</div>