@{
    ViewBag.Title = "FBProfile";
}

<h2>FBProfile</h2>

<p>
    Welcome @ViewBag.Name! Your Facebook ID is @ViewBag.Id.  <<== This is being displayed using your Facebook login credentials (if you do not see your name, you are not logged in through Facebook).
</p>
