@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    This is a website designed to allow you to buy drinks from bars.
</p>
<p>
    To get started, choose a bar where you want to buy a drink.  Then choose the drink you want.  Add it to your cart, and check-out.  It is that easy.
</p>


